body {
}

#intro {
    font-size: 125%;
    color: green;
}

p.small {
    font-size: 75%;
}

span.smaller {
    font-size: 75%;
}

pre {
/*
    border: solid darkblue 1px;
*/
    padding: 3px;
}
#content {
    margin-left: 330px;
}

#buttons {
    float: left;
    border: solid black 1px;
    background-color: lightgoldenrodyellow;
/*
    color: darkblue;
*/
    padding: 0.25em;
    width: 300px;
}

#buttons h3 {
    font-size: 125%;
    font-weight: bold;
    margin: 0;
    padding: 0.25em 0;
}

#buttons h4 {
    font-size: 100%;
    font-weight: normal;
    font-style: italic;
    margin: 0;
    padding: 0.25em 0;
}

#code {
    width: 95%;
}

#selectioncontent {
    border: solid black 1px;
    padding: 0.125em;
    background-color: white;
    overflow: auto;
}

.unselectable {
    user-select: none; /* CSS3 */
    -moz-user-select: none;
    -moz-user-focus: ignore;
    -khtml-user-select: none;
}