body {
	font-family: Verdana, Arial, Helvetica, Sans-serif;
	font-size: 75%;
	color: black;
	background-color: #eee;
	text-align: center;
	padding: 0;
	margin: 0;
}

div#container {
	width: 770px;
	text-align: left;
	line-height: 150%;
    border: 1px solid #ccc;
    border-top-width: 0;
    background-color: #fff;
	color: #000;
	padding: 10px;
	margin: 0 auto 10px auto;
}

div#header {
	margin: 0;
}

div#header h1 {
	font-family: Courier New, Courier, Monospace, Serif;
	padding: 8px 0 15px 0;
	margin: 0;
	font-size: 200%;
	font-weight: bold;
	text-align: right;
}

div#header h1 a {
	color: black;
}

div#nav {
	font-size: 91.66%;
	font-weight: bold;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom: solid #ccc 1px;
	text-align: right;
	background-color: #f0f0fa;
}

div#container.nonav div#content {
	float: none;
	width: auto;
}

div#content h1 {
	padding: 10px 3px 5px 3px;
	margin: 5px 0;
	font-size: 175%;
	font-weight: normal;
}

div#content h2 {
	background-color: darkgreen;
	color: #fff;
	padding: 0 3px;
	font-size: 116.66%;
	font-weight: bold;
}

div#content h2 a {
	color: white;
}

div#content h3 {
	padding: 0 3px;
	font-size: 116.66%;
	font-weight: bold;
	border-style: solid;
	border-color: #039;
	border-width: 1px 0;
}

div#content h4 {
	padding: 0 3px;
	font-size: 100%;
	font-weight: bold;
	border-top: solid #eee 1px;
}

div#content h5 {
	padding: 0;
	margin: 3px 0;
}

div#footer {
	margin-top: 20px;
	padding: 2px;
	border-top: solid #ccc 1px;
	font-size: 91.66%;
}

a {
	color: #003399;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a.bold {
	font-weight: bold;
}

a.underlined {
	text-decoration: underline;
}

a img {
	border-width: 0;
}

br.clear {
	clear: both;
}

table {
	font-size: 100%;
}

/* Code */
pre, code {
	font-family: Courier New, Courier;
	font-size: 108.33%;
}

pre.code, pre.console {
	border: solid 1px #ccc;
	padding: 3px;
}

pre.code {
	font-size: 100%;
	padding-left: 2em;
	display: inline-block;
	background-color: #f5f5f5;
}

span.rangy {
}

*.new {
	color: green;
	font-weight: bold;
}

div.example, div.panel {
	border: solid 1px #ccc;
	background-color: #f5f5f5;
	padding: 3px;
	margin-bottom: 10px;
}

div.panel h2 {
	margin: 5px 0;
}

div.padded {
	padding: 10px;
}

div.hidden {
	display: none;
}

div.active {
	background-color: #fcfffc;
	border-color: green;
}

label.rightofinput, input.rightoflabel {
	margin-right: 20px;
}

/* 'Back to top' link */
p.linktotop {
	text-align: right;
}

ul.propertieslist li.method, ul.propertieslist li.property {
	margin: 0;
	padding: 0 0 15px 0;
}

ul.propertieslist li *.name {
	font-size: 116.66%;
	font-weight: bold;
}

ul.propertieslist li.method div.methodsignature {
	margin: 10px 0;
	font-size: 116.66%;
	background-color: #eeeeee;
}

ul.propertieslist li.method *.paramsheading {
	font-weight: bold;
}

ul.propertieslist li.method *.params {
	padding-top: 5px;
	padding-bottom: 5px;
}

ul.propertieslist li.method *.params li.param {
	padding-bottom: 10px;
}

ul.propertieslist li.method *.params li.param *.paramname {
	font-style: italic;
}

div.serverlog {
	height: 200px;
	/*border: solid 1px #cccccc;*/
}

div#inPageConsole {
	margin-top: 10px;
}

div.iframecontainer {
	background-color: white;
	border: solid #ccc 1px;
	width: 100%;
}

div.veryprominent {
	background-color: darkgreen;
	color: white;
	font-weight: bold;
	padding: 10px;
	font-size: 133.33%;
	margin-bottom: 10px;
}

div.veryprominent a {
	color: white;
}

*.largetext {
	font-size: 116.66%;
}

div#leftcolumn {
	float: left;
	width: 160px;
}

div#rightcolumn {
	float: right;
	width: 580px;
}

td.fullsupport {
	background-color: lightgreen;
}

td.partialsupport {
	background-color: gold;
}

td.nosupport {
	background-color: lightcoral;
}

p.editions {
	text-align: right;
	font-style: italic;
}